@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Diplomata+SC&display=swap');

.wallpaper {
    background-image: url('https://img.freepik.com/vector-gratis/gradiente-textura-fondo-abstracto_1340-2270.jpg?w=2000');
}

.wallpaper .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-top: 150px;
}

.wallpaper .navhome {
    display: block;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-image: url('https://image.shutterstock.com/image-photo/vintage-wooden-blue-horizontal-boards-260nw-425000974.jpg');
    border-radius: 15px;
    border-color: rgb(221, 239, 239);
    border: 1px solid;
    padding: 20px;
    margin: 10px;
    position: fixed;
    z-index: 100;
}

.wallpaper .navhome h1 {
    font-family: 'Bangers', cursive;
}

.wallpaper .navhome span {
    font-family: 'Carter One', cursive;
    color:white;
}

.wallpaper h3 {
    font-family: 'Bangers', cursive;
    font-size: 24px;
}

.wallpaper .navhome select {
    font-family: 'Carter One', cursive;
    margin-top: 0px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 300ms;
}

.wallpaper .navhome option {
    font-family: 'Carter One', cursive;
}

.wallpaper .navhome .navhome_filter {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
}

.wallpaper .navhome .bar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.wallpaper .navhome .bar button {
    font-family: 'Carter One', cursive;
    padding: 5px 10px;
    margin-top: 0px;
    border: none;
    background: #105aed;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 300ms;
}

.wallpaper .navhome .bar button:hover {
    background: #6d06fd;
    cursor: pointer;
}

.wallpaper .pagination span {
    font-family: 'Carter One', cursive;
}

.wallpaper .pagination .button {
    font-family: 'Carter One', cursive;
    padding: 5px 10px;
    margin-top: 0px;
    border: none;
    background: #105aed;
    color: white;
    font-size: 14px;
    border-radius: 25px;
    transition: all 300ms;
}

.wallpaper .pagination .button:hover {
    background: #6d06fd;
    cursor: pointer;
}

.wallpaper .pagination .disabled {
    font-family: 'Carter One', cursive;
    padding: 5px 10px;
    margin-top: 0px;
    border: none;
    background: grey;
    color: white;
    font-size: 14px;
    border-radius: 25px;
    transition: all 300ms;
}